<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gb.sockt.usercenter">
    <!-- 微信支付 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.InputPhoneActivity"></activity>


        <activity android:name=".ui.activity.InputVerificationCodeActivity"/>

    </application>

</manifest>